img{
    width: 30%;
}
h1{
    align-items: center;
}
div{
gap: 15%;
}
.next-button{
    background-color: purple;
    color: white;
    font-size:larger;
}
.back-button{
    background-color: purple;
    color: white;
    font-size: larger;
}