img{
    width: 50%;
    
}

div{
gap: 15%;
}
.next-button{
    background-color: purple;
    color: white;
    font-size:larger;
}
.back-button{
    background-color: purple;
    color: white;
    font-size: larger;
}

button{
    background-color: purple;
    color: white;
    font-size:larger ;
}